@font-face {
    font-family: 'FreightSansProLight';
    src: url('../fonts/freigsanprolig.eot');
    src: url('../fonts/freigsanprolig.eot') format('embedded-opentype'),
         url('../fonts/freigsanprolig.woff') format('woff'),
         url('../fonts/freigsanprolig.ttf') format('truetype'),
         url('../fonts/freigsanprolig.svg#FreightSansProLight') format('svg');
}